@model UserInfo
@{
    ViewBag.Title = "Başvuru Detayı";
}

@{
    var className = @Model.Attend == true ? "success" : "danger";
}
<main class="text-center">
    <h1 class="h4">Başvuru Detayı</h1>
    <p>
        <span class="badge text-bg-@className">
            @if(@Model.Attend == true) {
                <text>Katılıyor</text>
            } else {
                <text>Katılmıyor</text>
            }
        </span>
    </p>
    <p>İsim Soyisim: @Model.Name</p>
    <p>Eposta: @Model.Email</p>
    <p>Telefon: @Model.Phone</p>
    <a asp-controller="Meeting" asp-action="List" class="btn btn-outline-primary">Katılımcı Listesine Dön</a>
</main>