@{
    ViewBag.Title = "Toplantıya Katılım listesi";
}
<main class="text-center">
    <h1 class="h4">Toplantıya Katılım listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>İsim</td>
                <td>Katılım Durumu</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zahid Yavaş</td>
                <td>Evet</td>
                <td><a class="btn btn-sm btn-primary" href="#">Detay</a></td>
            </tr>
            <tr>
                <td>Enes Bilgili</td>
                <td>Evet</td>
                <td><a class="btn btn-sm btn-primary" href="#">Detay</a></td>
            </tr>
        </tbody>
    </table>
</main>