<h1>Toplantıya Katılım listesi</h1>
<table>
    <thead>
        <tr>
            <td>İsim</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td>Detay</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Zahid Yavaş</td>
            <td>info@zahidyavas.com</td>
            <td>Evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Enes Bilgili</td>
            <td>info@enesbilgili.com</td>
            <td>Evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
    </tbody>
</table>